In [ ]:
def calculate_total(price, qty, discount):
    total = price * qty
    final_amount = total - discount
    return final_amount

final_amount = calculate_total(100, 2, 10)
print(final_amount)

190

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Emil",34)

print(p1.name)
print(p1.age)

Emil
34

In [ ]:
class People:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1 = People("John", 36)
print(p1.name)
print(p1.age)

John
36

In [ ]:
class People:
  pass
p1 = People()
p1.name = "John"
p1.age = 40
print(p1.name)
print(p1.age)

John
40

In [ ]:
class Person:
  def __init__(self, name, age=13):
    self.name = name
    self.age = age
p1= Person ("Emil")
p2 = Person ("John", 33)
print(p1.name, p1.age)
print(p2.name, p2.age)

Emil 13
John 33

In [ ]:
class Person:
  def __init__(self, name, age=18):
    self.name = name
    self.age = age

p1 = Person("Emil")
p2 = Person("Tobias", 25)

print(p1.name, p1.age)
print(p2.name, p2.age)

Emil 18
Tobias 25

In [ ]:
class Description:
  def __init__ (self, name, age, city, country):
    self.name = name
    self.age = age
    self.city = city
    self.country = country
p1 = Description ("Snail", 23, "Hanoi", "Vietnam")
print(p1.name, p1.age, p1.city, p1.country)

Snail 23 Hanoi Vietnam

In [ ]:
x= 5
y = 3
print (x+y)

8

In [ ]:
x = 3
y = ("Ify")
print(int(x), str(y))

3 Ify

In [ ]:
x, y,z = 5, 6, 7
print(x+y+z)

18

In [ ]:
fruits = ["apple", "banana", "mango"]
for f in fruits:
  print(f)

apple
banana
mango

In [ ]:
x = "Python"
y = "Is"
z = "Awesome"
print(str(x) + str(y) + str(z))

PythonIsAwesome

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"
print(x)
def myfunc():
  global x
  x = "fun"
myfunc()
print("python is "+ x)

awesome
python is fun

In [ ]:
import random
print(random.randrange(1,10))

5

In [ ]:
y = 10
while y > 0:
  print (y)
  y -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 1)Extract the first 5 characters from a string using slicing.
string = ("Oma", "Ada", "Obi", "Tim", "Pam", "Ik", "Chu")
print(string[:5])

('Oma', 'Ada', 'Obi', 'Tim', 'Pam')

In [ ]:
#Get the last element of a list using indexing.
liprist = (1,2,3,4,5)
print(-1)

-1

In [ ]:
#3)Reverse a string using slicing.
my_string = ("Onyeoma")
print(my_string[::-1])

amoeynO

In [ ]:
#4)Create a list of numbers from 1 to 10 and print only the elements at even indices.
marque = (1,2,3,4,5,6,7)
print(marque[::2])

(1, 3, 5, 7)

In [ ]:
#5)Change the value of the third element in a list.
third = [1,2,3,4,5]
third [2] = 6
print(third)

[1, 2, 6, 4, 5]

In [1]:
#6)Create a tuple and print its second and last elements.
tuples = (1,2,3,4,5,6)
print(tuples[1],",",tuples[-1])

2   6